.card{
    position: relative;
    background-color: white;
    margin: 50px 20px 20px 120px;
}

.card> img{
    display: block; 
    width: 300px;
    height: 450px;
    border-radius: 20px;
    
}

